.page {
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #222;
    border-collapse: collapse;
    border-radius: 5px;
}

.row-data, .row-header {
    color: #ccc;
}

.row-header {
    background-color: #393939;
}

.row-data td {
    color: inherit;
}

.row-data:hover {
    background-color: #444;
}

.row-data td a {
    background-color: #999;
    color: #000;
    border-radius: 3px;
    padding: 1px 3px;
}

/* .row-data td a:hover {
    padding: 2px 4px;
} */

.nav-menu {
    background-color: #ddd;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn-add {

    height: 80%;
    font-size: 18px;
    background-color: #bbb;
    color: #222;
    border-radius: 4px;
    padding: 7px;

}

.btn-add:hover {
    font-weight: 700;
    background-color: #aaa;
    color: #000;
    padding: 8px;

}

.form {
    /* esto por ahora */
    margin: 0 auto;
    width: 55%;
    background-color: #666;
    padding: 40px 20px;

    color: #000006;
    border-radius: 10px;
    font-size: 18px;

}

.form div {
    width: 90%;
    margin: 0 auto;

}

.form div label {
    width: 150px;
    text-align: center;
}

.form div input {
    border: 1px solid #555;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 2px 6px;
}

.form div input:focus {
    outline: 2px solid #222;
}

.form div [type="checkbox"] {
    transform: scale(2);
    margin-left: 6px;
}

.form div [type="checkbox"]:focus {
    outline: none;
}

.form button {
    color: #000;
    background-color: #eee;
    font-size: 19px;
    padding: 3px 7px;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    border-radius: 4px;
}

.form button:hover {
    font-size: 20px;
    background-color: #ccc;
    text-shadow: 1px 2px 1px #fff;
    border: 3px solid #302b2b;
}